@charset "UTF-8";

/* Font-Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #820ed0;
    --secondary-color: #F700B1;
    --white-color: #F6F6F0;
    --black-color-bg: #222222;
    --dark-color-body: #2D2D33;
    --border-color: #303030;
    --gradient-start: #1a1a1a;
    --gradient-end: #0C0C0C;
    --bg-gradient-start: #2D2F31;
    --bg-gadient-end: #131516;


    --main-font: "Poppins", serif;
    --secondary-font: "Open Sans", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* UTILITIES */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* BODY */
body {
    color: var(--white-color);
    background-image: linear-gradient(120deg, var(--bg-gradient-start), var(--bg-gadient-end)) !important;
    background-attachment: fixed;
}
.bg-gradient {
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
}

/* MAIN */
.main-container {
    max-width: 1320px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 10px;
    align-items: flex-start;
}

/* MENU-PROFILE / HEADER */
.menu-profile {
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-gap: 10px
}
.dark-light-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
}
.dark-light-btn:hover,
header ul li a:hover{
    color: var(--main-color);
}


header {
    position: relative;
    z-index: 2;
}
header,
header ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}
header ul {
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 10px 5px;
    border-radius: 30px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}
header ul li a {
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 50%;
    font-family: 1.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--black-color-bg);
    position: relative;
    transition: all ease 0.2s;
}
header ul li a::after {
    content: attr(data-label);
    position: absolute;
    top:50%;
    left: 120%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--black-color-bg);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent var(--main-color) transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul li a:hover::before,
header nav ul li a:hover::after {
    opacity: 1;
    visibility: visible;
}


/* PROFILE */
.profile-container {
   height: 100%;
   position: relative; 
}
.user-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0 30px 30px;
}
.user-profile-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}
.user-profile-img img {
    width: 100%;
    height: 280px;
    display: flex;
    border-radius: 30px 0 30px 30px;
    background-color: var(--white-color);
    overflow: hidden;
}
.user-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.user-profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.user-profile-text span {
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: bold;
}
.user-profile-text h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0;
}
.profile-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.profile-social-container a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: var(--white-color);
    transition: all ease 0.3s;
}
.profile-social-container a:hover,
.user-profile-btns a:hover {
    color: var(--main-color);
}
.user-profile-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    border-top: 1px solid var(--border-color);
    width: 100%;
}
.user-profile-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: all ease 0.3s;
}
.user-profile-btns a:first-child {
    border-right: 1px solid var(--border-color);
}


/*ALL CONTENT*/
.section-container {
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
}
.all-content {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 100%;
    overflow: hidden;
}
/* ABOUT US*/
#about-us {
    border-radius: 0 30px 0 0;
    padding: 85px 50px;
}
#about-us h3 {
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.4rem;
}
#about-us h3 span {
    color: var(--main-color);
}
#about-us #role {
    opacity: 1;
    white-space: nowrap;
    transition: opacity 0.5s ease-out;
    border-right: 2px solid var(--main-color);
    display: inline-block;
    padding-right: 5px;
}
#about-us h1 {
    color: var(--white-color);
    font-size: 3rem;
    margin: 10px 0;
    font-weight: 500;
    max-width: 700px;
}
#about-us h1 span {
    background-color: var(--main-color);
    color: var(--black-color-bg);
    padding: 0 20px;
    border-radius: 30px;
    font-size: 2.6rem;
}
#about-us p {
    color: var(--white-color);
    font-size: 0.9rem;
    margin-top: 10px;
    max-width: 750px;
}