@charset "UTF-8";

/* Font-Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #4D0A7B;
    --secondary-color: #F700B1;
    --white-color: #F6F6F0;
    --black-color-bg: #222222;
    --dark-color-body: #2D2D33;
    --border-color: #303030;
    --gradient-start: #1a1a1a;
    --gradient-end: #0C0C0C;
    --bg-gradient-start: #2D2F31;
    --bg-gadient-end: #131516;


    --main-font: "Poppins", serif;
    --secondary-font: "Open Sans", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* UTILITIES */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* BODY */
body {
    color: var(--white-color);
    background-image: linear-gradient(120deg, var(--bg-gradient-start), var(--bg-gadient-end)) !important;
    background-attachment: fixed;
}
.bg-gradient {
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
}

/* MAIN */
.main-container {
    max-width: 1320px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 425px 1fr;
    grid-gap: 10px;
    align-items: flex-start;
}

/* MENU-PROFILE / HEADER */
.menu-profile {
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-gap: 10px
}
.dark-light-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
}
.dark-light-btn:hover,
header ul li a:hover{
    color: var(--main-color);
}


header {
    position: relative;
    z-index: 2;
}
header,
header ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}
header ul {
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 10px 5px;
    border-radius: 30px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}
header ul li a {
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 50%;
    font-family: 1.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--black-color-bg);
    position: relative;
    transition: all ease 0.2s;
}
header ul li a::after {
    content: attr(data-label);
    position: absolute;
    top:50%;
    left: 120%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--black-color-bg);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent var(--main-color) transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header nav ul li a:hover::before,
header nav ul li a:hover::after {
    opacity: 1;
    visibility: visible;
}


/* PROFILE */
.profile-container {
   height: 100%;
   position: relative; 
}
.user-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0 30px 30px;
}
.user-profile-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}
.user-profile-img img {
    width: 270px;
}